<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>The Error: </h1>
    
    <p>Inspect:   <%=@inspect%>   </p>
    <p>Error Message:   <%=@error_message%>   </p>
    <p>Backtrace:   <%=@backtrace%>   </p>

  </body>
</html>